<form #ref='ngForm' (ngSubmit)='submitData(ref.value)'>
    <div class="form-group ">
      <label for="colFormLabelSm" >username</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="colFormLabelSm" placeholder="Enter-email" name="username" ngModel>
      </div>
    </div>
    <!-- <div class="form-group ">
      <label for="colFormLabel" >Name</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="colFormLabel" required placeholder="Enter-name" name="name" ngModel>
      </div> -->
     
    <!-- </div>
    <div class="form-group ">
      <label for="colFormLabelLg" >Salary</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="colFormLabelLg" placeholder="Enter -salary" name="salary" ngModel>
      </div>
    </div> -->
    <div class="form-group ">
      <label for="colFormLabelLg" >Passwoard</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="colFormLabelLg" placeholder="Enter -salary" name="Passwoard" ngModel>
      </div>
    </div>
    <div class="text-centre">
      <button class="btn btn-success" type='submit'>Register</button>
    </div>
  </form>
